.header{
    ul{
        display: flex;
        justify-content: flex-end;
        background-color: grey;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: red;
                }
                text-transform: uppercase;
            }
        }
    }
}